page-match {

  .background {
    background-color:darkred;
  }

  .row {
    border-top:.6em groove red;
  }

  .sideways {
    transform: rotate(180deg);
  }

  .centerHomeDiv {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 9999;
  }

  #matchCenterHomeButton {
    background-color:gold;
    color:black;
    border-radius:5em;
    border:.2em groove gold;
  }

  .translucentBtn {
    width: 30%;
    height: 100%;
    margin: 0;
    background-color:inherit;
    //font-size:3em;
  }

  .translucentBtn:hover {
    background-color:inherit;
  }

  .matchPlayerView {
    height: 100% !important;
  }

  .playerInfo {
    margin: auto;
  }

  .label {
    display: inherit;
    height: 100%;
    margin: 0;
  }

  .item-md {
    padding: 0;
  }

  .item-md.item-block .item-inner {
    padding: 0;
  }

  .item-inner {
    padding-right: 0;
  }
}
